
.section-size_chart {
    padding-top: 20px;
    padding-bottom: 0;
}

.size_chart-h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}
.size_chart-h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 30px;
    background-color: #f38181;
}

.section-size_chart header p {
    font-size: 18px;
}

.strong {
    font-weight: bold;
}

.size_chart-h2 {
    font-size: 26px;
}

.size_chart-h2::after {
    display: none;
}


table {
    margin: 20px auto 0;
    font-size: 16px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}
th {
    font-size: 18px;
    font-weight: bold;
    background-color: #f38181;
    color: white;
    text-shadow: 0 1px 1px #2d2020;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th:first-child, td:first-child {
    text-align: left;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

td {
    padding: 10px 20px;
    background-color: #333;
    color: #95e1d3;
}

td:first-child {
    font-size: 18px;
}


tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}

.table_last td {
    font-size: 18px;
    font-weight: bold;
    background-color: #f38181;
    color: white;
    text-shadow: 0 1px 1px #2d2020;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .section-size_chart {
        padding-top: 5px;
    }

    .size_chart-h1 {
        font-size: 28px;
    }
    .size_chart-h1::after {
        margin: 10px auto 20px;
    }

    .section-size_chart header p {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .size_chart-h2 {
        font-size: 22px;
    }

    .size_chart-h3 {
        font-size: 22px;
        margin-bottom: 0;
    }

    table {
        margin: 15px auto 0;
        font-size: 16px;
    }
    th {
        font-size: 16px;
        padding: 8px 16px;
    }
    td {
        padding: 8px 16px;
    }

    td:first-child {
        font-size: 16px;
    }

    .table_last td {
        font-size: 16px;
    }
}

/* Small devices (landscape phones, less than 775px */
@media (max-width: 774.98px) {
    .section-size_chart {
        padding-top: 0;
    }
    .size_chart-h1 {
        font-size: 24px;
    }
    .size_chart-h1::after {
        margin: 5px auto 10px;
    }

    .section-size_chart header p {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .size_chart-h2 {
        font-size: 20px;
    }

    .size_chart-h3 {
        font-size: 20px;
    }

    table {
        margin-top: 10px;
        font-size: 16px;
    }
    th {
        font-size: 14px;
        padding: 5px 10px;
    }
    td {
        padding: 5px 10px;
    }

    td:first-child {
        font-size: 14px;
    }

    .table_last td {
        font-size: 14px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .section-size_chart {
        padding-top: 0;
    }
    .size_chart-h1 {
        font-size: 22px;
    }
    .size_chart-h1::after {
        margin-bottom: 5px;
    }

    .section-size_chart header p {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .size_chart-h2 {
        font-size: 18px;
    }

    .size_chart-h3 {
        font-size: 18px;
    }

    table {
        margin-top: 5px;
        font-size: 12px;
    }
    th {
        font-size: 12px;
        padding: 2px 4px;
    }
    td {
        padding: 2px 4px;
    }

    td:first-child {
        font-size: 10px;
    }

    .table_last td {
        font-size: 10px;
    }
}

@media (max-width: 320.98px) {
    table {
        font-size: 8px;
    }
    th {
        font-size: 8px;
        padding: 2px 4px;
    }
    td {
        padding: 2px 4px;
    }

    td:first-child {
        font-size: 6px;
    }

    .table_last td {
        font-size: 6px;
    }
}
