{% extends 'index.html' %}

{% load static %}
{% block styles%}
    <link rel="stylesheet" href="{%static 'styles/style_size_chart.css'%}">
{% endblock %}
{% block title %} Size Chart {% endblock %}

    {% block nav %}
        <a href="/catalog"> Catalog</a>
        <a href="/size_chart"> Size Chart</a>
        <a href="##" data-scroll="#contats" role="button"> Contacts & Info</a>
    {% endblock %}

{% block content %}
 <section class="section-size_chart">
            <div class="container">
                <header>
                    <h3 class="size_chart-h3">Size chart</h3>
                    <h1 class="size_chart-h1">Размерная таблица</h1>
                    <p class="strong">Эта таблица поможет Вам подобрать размер соответствующий нашим товарам.</p>
                    <p class="strong">Снимайте мерки впритык по фигуре. Не делайте прибавки на свободу облегания.</p>
                    <h2>Пример:</h2>
                    <p>Если Вы сняли мерки с Вашей фигуры без прибавок ОГ-100см &#8212; ОТ-82см &#8212; ОБ-106см, то заказывайте изделие р.50. Не важно, пальто это, или блузка.</p>
                    <p class="strong">Наши конструкторы делают необходимые прибавки на свободу облегания, установленные ГОСТами Украины.</p>
                    <h2 class="size_chart-h2"> Размеры от 38 до 56 </h2>
                    <table>
                        <tbody>
                            <tr>
                                <th></th>
                                <th>38</th>
                                <th>40</th>
                                <th>42</th>
                                <th>44</th>
                                <th>46</th>
                                <th>48</th>
                                <th>50</th>
                                <th>52</th>
                                <th>54</th>
                                <th>56</th>
                            </tr>
                            <tr>
                                <td>Обх.груди</td>
                                <td>76</td>
                                <td>80</td>
                                <td>84</td>
                                <td>88</td>
                                <td>92</td>
                                <td>96</td>
                                <td>100</td>
                                <td>104</td>
                                <td>108</td>
                                <td>112</td>
                            </tr>
                            <tr>
                                <td>Обх.талии</td>
                                <td>58</td>
                                <td>62</td>
                                <td>66</td>
                                <td>70</td>
                                <td>74</td>
                                <td>78</td>
                                <td>82</td>
                                <td>86</td>
                                <td>92</td>
                                <td>98</td>
                            </tr>
                            <tr>
                                <td>Обх.бедер</td>
                                <td>82</td>
                                <td>86</td>
                                <td>90</td>
                                <td>94</td>
                                <td>98</td>
                                <td>102</td>
                                <td>106</td>
                                <td>110</td>
                                <td>116</td>
                                <td>122</td>
                            </tr>
                            <tr class="table_last">
                                <td></td>
                                <td>XXS</td>
                                <td>XS</td>
                                <td>S</td>
                                <td>M</td>
                                <td>M</td>
                                <td>L</td>
                                <td>L</td>
                                <td>XL</td>
                                <td>XXL</td>
                                <td>XXL</td>
                            </tr>
                        </tbody>
                    </table>

                </header>
            </div>
        </section>
{% endblock %}

{% block scripts %} {% endblock %}
