{% extends 'index.html' %}
 {% load static %}

{% block styles%}
    <link rel="stylesheet" href="{%static 'styles/styles_catalog.css'%}">
{% endblock %}

{% block title %} Catalog {% endblock %}

    {% block nav %}
        {%if filter%}
        <a href="/catalog"> Catalog <span class="catalog__up">UP <i class="fas fa-angle-up"></i></span></a>
        {%else%}
        <a href="##" data-scroll="#catalog" role="button"> Catalog <span class="catalog__up">UP <i class="fas fa-angle-up"></i></span></a>
        {%endif%}
        <a href="/size_chart"> Size Chart</a>
        <a href="##" data-scroll="#contats" role="button"> Contacts & Info</a>
    {% endblock %}


{% block content %}

<section class="catalog">
    <div class="container">
        <header>
            <h3>Our offer</h3>
            <h2 id="catalog">Каталог</h2>
        </header>
        <div class="catalog__page">
            <div class="catalog__card">
                {% for item in products%}
                <div class="catalog__card__item">
                    <div class="catalog__card__img">
                        <a href="/{{item.id}}/"><img src="{{item.picture.url}}" alt=""></a>
                    </div>
                    <div class="catalog__card__text">
                        <h4>{{item.product_model}} {{item.color}}</h4>
                        <p>{%if item.sale%} <strike style="margin-right: 8px">{{item.price}}</strike> {{item.sale}} грн.{%else%} {{item.price}} грн. {%endif%}</p>
                    </div>
                    <div class="catalog__card__description">
                        <a href="/{{item.id}}/">
                            <p>Модель: {{item.product_model}}</p>
                            <p>Цвет: {{item.color}}</p>
                            <p>Размеры: {{item.size}}</p>
                            <p>Ткань: {{item.fabric_structure}}</p></a>
                    </div>
                    <div style="text-align: center">
                        <a href="/{{item.id}}/" class='btn__catalog'>Подробнее</a>
                    </div>

                </div>
                {%endfor%}
            </div>
            <div class="sidebar">
                <h2>Фильтр</h2>

                <form action ='/filter/' method="post">
                {%csrf_token%}
                    <div class="filter__color">
                        <ul>
                            <li>
                                <input class="custom-checkbox" type="checkbox" id="color-1" name="color" value="Бежевый">
                                <label for="color-1">
                                    <span>Бежевый</span></label>
                            </li>
                            <li>
                                <input class="custom-checkbox" type="checkbox" id="color-2" name="color" value="Темно-бежевый">
                                <label for="color-2"><span class="darkBeige">Темно - бежевый</span></label>
                            </li>
                            <li>
                                <input class="custom-checkbox" type="checkbox" id="color-3" name="color" value="Кэмел">
                                <label for="color-3"><span>Кэмел</span></label>
                            </li>
                            <li>
                                <input  class="custom-checkbox" type="checkbox" id="color-6" name="color" value="Розовый">
                                <label for="color-6"><span>Розовый</span></label>
                            </li>
                            <li>
                                <input  class="custom-checkbox" type="checkbox" id="color-5" name="color" value="Мята">
                                <label for="color-5"><span>Мята</span></label>
                            </li>
                            <li>
                                <input class="custom-checkbox" type="checkbox" id="color-4" name="color" value="Фисташковый">
                                <label for="color-4"><span>Фисташковый</span></label>
                            </li>
                            <li>
                                <input  class="custom-checkbox" type="checkbox" id="color-7" name="color" value="Коррал">
                                <label for="color-7"><span>Коррал</span></label>
                            </li>
                            <li>
                                <input  class="custom-checkbox" type="checkbox" id="color-8" name="color" value="Черный">
                                <label for="color-8"><span>Черный</span></label>
                            </li>
                        </ul>
                    </div>
                    <div class="filter__size">
                        <label class="custom-checkbox-size">
                            <input type="checkbox" name="size" value="XXS">
                            <span class="span__size">XXS</span>
                        </label>
                        <label class="custom-checkbox-size">
                            <input type="checkbox" name="size" value="XS">
                            <span class="span__size">XS</span>
                        </label>
                        <label class="custom-checkbox-size">
                            <input type="checkbox" name="size" value="S">
                            <span class="span__size">S</span>
                        </label>
                        <label class="custom-checkbox-size">
                            <input type="checkbox" name="size" value="M">
                            <span class="span__size">M</span>
                        </label>
                        <label class="custom-checkbox-size">
                            <input type="checkbox" name="size" value="L">
                            <span class="span__size">L</span>
                        </label>
                        <label class="custom-checkbox-size">
                            <input type="checkbox" name="size" value="XL">
                            <span class="span__size">XL</span>
                        </label>
                    </div>

                    <button class='btn__catalog filter'type="submit" name="Filter" value="{{item.id}}">Поиск</button>
                </form>

                <div class="resently__viewed">
                    <h2>Недавно просмотренные</h2>
                    <div class="catalog__card">
                    {% for item in resent_products%}
                        <div class="catalog__card__item">
                            <div class="catalog__card__img">
                                <a href="/{{item.id}}/"><img src="{{item.picture.url}}" alt=""></a>
                            </div>
                            <div class="catalog__card__text">
                                <h4>{{item.product_model}} {{item.color}}</h4>
                                <p>{%if item.sale%} <strike style="margin-right: 8px">{{item.price}}</strike> {{item.sale}} грн.{%else%} {{item.price}} грн. {%endif%}</p>
                            </div>
                        </div>
                    {%endfor%}
                    </div>
                </div>
            </div>  <!-- .sidebar -->
        </div> <!-- .catalog__page -->
    </div> <!-- .container -->
</section>


{% endblock %}

{% block scripts %} {% endblock %}