{% extends 'index.html' %}

{% load static %}
{% block styles%}
    <link rel="stylesheet" href="{%static 'styles/styles_checkout.css'%}">
{% endblock %}
{% block title %} Size Chart {% endblock %}

    {% block nav %}
        <a href="/catalog"> Catalog</a>
        <a href="/size_chart"> Size Chart</a>
        <a href="##" data-scroll="#contats" role="button"> Contacts & Info</a>
    {% endblock %}

{% block content %}

    <section class="section-cart">
        <div class="container">
            <form role="form" class="cart__wraper" action ='/checkout/' method="post">
                {%csrf_token%}
                <div class="cart__left">
                    <h4 class="important__info"><i class="fas fa-exclamation"></i> Пожалуйста, указывайте точную информацию</h4>
                    <h3>Личные данные:</h3>
                    <label for="name">ФИО <span class="redStar">*</span></label>
                    <input type="text" placeholder="Микола Парасюк" id="name" name="full_name" required />

                    <label for="number">Телефонный номер <span class="redStar">*</span></label>
                    <input class="number__input" type="number" placeholder="Telephone number..." id="number"  name="number" required />

                    <label for="email">Ваш Email</label>
                    <input type="email" placeholder="example@example.com" id="email" name="email" />

                    <h3>Детали доставки: <span class="redStar">*</span></h3>
                    <div class="radio-item">
                        <input type="radio" id="shippingChoice1" name="shiping_variant" value="Новая Почта" required onclick="shippingRatio()">
                        <label for="shippingChoice1"> <span class="shipLogo1"></span> НоваПошта</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="shippingChoice2" name="shiping_variant" value="Автолюкс" onclick="shippingRatio()">
                        <label for="shippingChoice2"> <span class="shipLogo2"></span>  Автолюкс</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="shippingChoice3" name="shiping_variant" value="УкрПочта" onclick="shippingRatio()">
                        <label for="shippingChoice3"> <span class="shipLogo3"></span> УкрПочта</label>
                    </div>

                    <div class="shipping__choice__input" id="novP">
                        <label for="city">Город</label>
                        <input type="text" id="city" name="addressNp1" placeholder="Харьков" />

                        <label for="postalOffice">Номер Отделения</label>
                        <input class="number__input" type="number" id="postalOffice" name="addressNp2" placeholder="42" />
                    </div>

                    <div class="shipping__choice__input" id="avtolux">
                        <label for="city_avtolux">Город</label>
                        <input type="text" id="city_avtolux" name="addressAl1" placeholder="Харьков" />

                        <label for="postalOffice">Адрес отделения</label>
                        <input type="text" id="postalOffice_avtolux" name="addressAl2" placeholder="Проспект Юбилейный 56"  />
                    </div>

                    <div class="shipping__choice__input" id="ukrPoshta">
                        <label for="region">Область</label>
                        <input type="text" id="region" name="addressUk1" placeholder="Харьковская" />

                        <label for="city_ukr">Населенный пункт</label>
                        <input type="text" id="city_ukr" name="addressUk2" placeholder="Харьков" />

                        <label for="adress">Адрес</label>
                        <input type="text" id="adress"  name="addressUk3" placeholder="Проспект Юбилейный 56" />

                        <label for="index">Индекс</label>
                        <input class="number__input" type="number" id="index" name="addressUk4" placeholder="61186" />
                    </div>

                    <div>
                        <label for="notes">Примечания к заказу</label>
                        <textarea placeholder="Примечания к вашему заказу, например, особые пожелания отделу доставки." id="notes" name="details"></textarea>
                    </div>
                </div> <!-- .cart__left -->
                <div class="cart__right">
                    <h3>Ваш заказ:</h3>
                    <div class="order">
                        {%for item in products%}
                        <div class="order__item">
                            <div class="order__item__product">
                                <img src="{{item.picture.url}}" alt="" />
                                <div class="order__item__info">
                                    <p class="strong">{{item.product_model}} {{item.color}}</p>
                                    <p>Размер: <span class="strong"> {{item.size}} </span></p>
                                </div>
                                <input class="productQuantity" type="number" min="1" value="1">
                            </div>
                            <p class="strong">&#8372; <span class="productPrice">{{item.price}}</span> </p>

                        </div>
                        {%endfor%}
                    </div>
                    <div class="order__total">
                        <h5>Сумма заказа:</h5>
                        <h5>&#8372; <input id="totalPrice" name="totalPrice" value="0" readonly> </h5>
                    </div>

                    <div class="submit__btn_wraper">
                        <button type="submit" class="btn btn-submit">Подтвердить заказ</button>
                    </div>

                    <div class="important__info help__box">
                        <p>Вопросы? или Вам нужна помощь в выполнении заказа?</p>
                        <p>Позвоните: <a href="tel:+380677593889">+380 63 862-97-83</a></p>
                    </div>
                </div> <!-- .cart__right -->

            </form>
        </div>
    </section>

{% endblock %}


{% block scripts %}
        <script src="{%static 'js/script_checkout.js'%}"></script>
{% endblock %}