<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{%static 'img/favicon2.png'%}"/>
    <link rel="stylesheet" href="{%static 'styles/styles_main.css'%}">
    {% block styles%} {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto&family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8c5f8983b2.js" crossorigin="anonymous"></script>
    <title>{% block title%}OZZE Sport{% endblock %}</title>
</head>
<body>
    <div class="content">
        <header id="header_main">
            <div class="container">
                <div class="header__inner">
                    <a href="/" class="header__logo">OZZE Sport</a>
                    <nav class="nav" id="nav">
                    {% block nav %}
                        <a href="/catalog"> Catalog</a>
                        <a href="##" data-scroll="#info" role="button"> About</a>
                        <a href="##" data-scroll="#contats" role="button"> Contacts & Info</a>
                    {% endblock %}
                        <a href="/cart">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
<!--                        <a href="/serch">-->
<!--                            <i class="fas fa-search"></i>-->
<!--                        </a>-->
                    </nav>
                    <button class="nav-toggle" id="nav_toggle" type="button" onclick="navToggle()">
                        <span class="nav-toggle__item">Menu</span>
                    </button>
                </div>
            </div>
        </header>

        <main>
            {% block content %}
            <div class="intro" id="intro">
                <div class="container">
                    <div class="intro__iner">
                        <h2>Welcome to</h2>
                        <h1>OZZE Sport</h1>
                        <h3>A part of ozze</h3>
                        <a  class="btn" target="_blank" href="https://ozze.com.ua">Learn More</a>
                    </div>
                </div>

            </div>

            <div class="photos__intro" id="photos__intro">
                <div class="container">
                    <div class="card">
                        <div class="card__item card__item1">
                                <div class="card__img">
                                    <img src="{%static 'img/1.jpg'%}" alt="">
                                </div>
                                <div class="card__text">
                                    <div class="advan__item-icon"><i class="far fa-gem"></i></div>
                                    <h3>Качество</h3>
                                    <p>Высокое качество продукции — самое главное!</p>
                                </div>
                        </div>
                        <div class="card__item card__item2">
                                <div class="card__img">
                                    <img src="{%static 'img/2.jpg'%}" alt="">
                                </div>
                                <div class="card__text">
                                    <div class="advan__item-icon"><i class="fas fa-tag"></i></div>
                                    <h3>Цены от производителя</h3>
                                    <p>Нам всегда приятно радовать вас приятными ценами</p>
                                </div>
                        </div>
                        <div class="card__item card__item3">
                                <div class="card__img">
                                    <img src="{%static 'img/3.jpg'%}" alt="">
                                </div>
                                <div class="card__text">
                                    <div class="advan__item-icon"><i class="fas fa-user-friends"></i></div>
                                    <h3>Контакность</h3>
                                    <p>Мы всегда открыты к контакту</p>
                                </div>
                        </div>
                        <div class="card__item card__item4">
                                <div class="card__img">
                                    <img src="{%static 'img/4.jpg'%}" alt="">
                                </div>
                                <div class="card__text">
                                    <div class="advan__item-icon"><i class="fas fa-tshirt"></i></div>
                                    <h3>Разнообразие</h3>
                                    <p> <span>Мы всегда подберем</span>товар именно для Вас</p>
                                </div>
                        </div>
                        <div class="card__item card__item5">
                                <div class="card__img">
                                    <img src="{%static 'img/5.jpg'%}" alt="">
                                </div>
                                <div class="card__text">
                                    <div class="advan__item-icon"><i class="fas fa-smile-beam"></i></div>
                                    <h3>Удовольствие</h3>
                                    <p>Каждая вещь будет приносить вам радость</p>
                                </div>
                        </div>

                    </div>
                </div>
            </div>

            <section id="info">
                <div class="container">
                    <header>
                        <h3>What we do</h3>
                        <h2>Story about us</h2>
                            <p>Фирма O.Z.Z.E работает на рынке верхней одежды с 2001 года.
                                Мы известны нашему покупателю, как производитель женской одежды
                                высокого качества. </p>
                            <p>Жители Украины имеют возможность купить женскую одежду оптом и в розницу
                                по очень доступным ценам.</p>
                            <p>Наш интернет-магазин женской одежды– это возможность приобщиться к моде,
                                не выходя из дома.</p>
                            <p>Одежда, которую мы предлагаем – это свежие дизайнерские решения.
                                Мы используем натуральные, качественные ткани, красивую фурнитуру,
                                натуральные и искусственные меха высокого качества. Наши изделия всегда
                                отличает хорошая посадка на фигуре. Одежда очень больших размеров стройнит
                                и украшает наших покупательниц.</p>
                    </header>
                </div>
            </section>

            <section class="statistics">
                <div class="container ">
                    <div class="stat stat__wide">
                        <div class="stat__item">
                            <h4>19</h4>
                            <p>Лет работы на рынке</p>
                        </div>
                        <div class="stat__item">
                            <h4>99%</h4>
                            <p>Счастливых клиентов</p>
                        </div>
                        <div class="stat__item">
                            <h4>56</h4>
                            <p>Городов Украины</p>
                        </div>
                        <div class="stat__item">
                            <h4>100%</h4>
                            <p>Высококачественых материалов</p>
                        </div>
                        <div class="stat__item">
                            <h4>24</h4>
                            <p>Партнера</p>
                        </div>
                    </div>

                    <div class="slider">
                        <div class="slider__wrapper">
                            <div class="slider__item">
                                <div class="stat__item">
                                    <h4>19</h4>
                                    <p>Лет работы на рынке</p>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="stat__item">
                                    <h4>99%</h4>
                                    <p>Счастливых клиентов</p>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="stat__item">
                                    <h4>56</h4>
                                    <p>Городов Украины</p>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="stat__item">
                                    <h4>100%</h4>
                                    <p>Высококачественых материалов</p>
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="stat__item">
                                    <h4>24</h4>
                                    <p>Партнера</p>
                                </div>
                            </div>
                        </div>
                        <a class="slider__control slider__control_left" href="#" role="button"></a>
                        <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
                    </div>
                </div>
            </section>

            <section >
                <div class="container">
                    <header>
                        <h3>Are you</h3>
                        <h2>Ready to shop?</h2>
                            <p>OZZE Sport предоставляет широкий выбор спортивных костюмов на любой вкус.<br>
                                Выбери свой собственный стиль, вперед!
                            </p>
                        <a  class="btn start__btn"  href="/catalog">Start</a>

                    </header>
                    <div class="more__photos">
                        <div class="img__item" id="img__item1"><img src="{%static 'img/6.jpg'%}" alt="Девушка потягивается перед тренировкой"></div>
                        <div class="img__item" id="img__item2"><img src="{%static 'img/7.jpg'%}" alt="Спортивная девушка с поднятыми руками"></div>
                        <div class="img__item" id="img__item3"><img src="{%static 'img/8.jpg'%}" alt="Девушка на скейте"></div>
                    </div>
                </div>
            </section>

        {% endblock %}
        </main>

    </div> <!-- content -->
    <footer>
        <div class="container">
            <div class="footer__iner">
               <div class="footer__info">
                   <h4>Информация</h4>
                    <a href="/size_chart">Размерная таблица</a>
                    <a href="/wholesale_customers">Оптовым клиентам</a>
                    <a href="/delivery_payment">Доставка и оплата</a>
                    <a href="/return_change">Обмен и возврат</a>
               </div>

               <div class="map">
                <h4>
                    <div><i class="fas fa-map-marker-alt"></i></div>
                    <a href="https://goo.gl/maps/kz1kaTfwk3EK39qr5" target="_blank">Open Map</a>
                </h4>
               </div>

               <div class="footer__contacts" id="contats">
                    <p><span>Компания</span>OZZE Sport</p>
                   <p><a style="text-decoration: none; color: inherit" href="tel:+380638629783">+380 63 862-97-83</a></p>

                    <div class="footer__social">
                        <span id="footer_folow">Follow Us: </span>
                        <a href="https://www.facebook.com/Пальто-Ozze-TM-204987513532300/" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/ozzecoat/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>

                    <form class="write__us" action="/write_us/" method="post">
                        {%csrf_token%}
                        <textarea class="write__us__input" name="user_msg" id="" placeholder="Your message..."></textarea>
                        <button type="submit"> Write us</button>
                    </form>
               </div>


            </div>
        </div>

        <div class="copyright">
            &copy; 2020 OZZE Sport by <a href="https://github.com/SpalpIN" target="_blank">BoBoLink</a>
        </div>
    </footer>

    <script src="{%static 'js/scripts_main.js'%}"></script>
    {% block scripts %}
        <script src="{%static 'js/carousel.js'%}"></script>
    {% endblock %}
</body>
</html>