{% extends 'index.html' %}

{% load static %}
{% block styles%}
    <link rel="stylesheet" href="{%static 'styles/style_size_chart.css'%}">
    <link rel="stylesheet" href="{%static 'styles/style_shipping_payment.css'%}">
{% endblock %}
{% block title %} Size Chart {% endblock %}

    {% block nav %}
        <a href="/catalog"> Catalog</a>
        <a href="/size_chart"> Size Chart</a>
        <a href="##" data-scroll="#contats" role="button"> Contacts & Info</a>
    {% endblock %}

{% block content %}
 <section class="section-size_chart">
            <div class="container">
                <header>
                    <h3 class="size_chart-h3">Exchange & Return</h3>
                    <h1 class="size_chart-h1">Обмен и возврат</h1>
                </header>
                <div class="buying__info__wrap">
                    <p class="сase">Если Вам не подошел выбранный размер</p>
                    <div class="solution">
                        <p>Обмен не подошедшего размера или возврат изделия предусмотрен только для розничных покупателей (покупка изделия по розничной цене). Пересылку товара оплачивает покупатель.</p>
                    </div>
                        <p class="сase strong">Возврату / обмену не подлежат:</p>
                    <div class="solution solution-ul">
                        <ul>
                            <li>Нательная одежда (платья, блузки).</li>
                            <li>Изделия белого цвета.</li>
                            <li>Изделия по распродаже/акции.</li>
                        </ul>
                    </div>
                    <p class="сase">Если Вам не подошел выбранный размер или Вы решили вернуть купленное изделие, сообщите об этом в электронный почтовый ящик менеджеру. Вам придет письмо с реквизитами для отправки. Отправляйте товар только в той упаковке, в которой Вы получили посылку.</p>
                    <p class="сase">Получив от Вас возврат (или обмен), проверив его целостность, мы возвращаем Вам деньги (или отправляем другой размер изделия). Обмен размера возможен только один раз.</p>

                </div>
            </div>
        </section>
{% endblock %}

{% block scripts %} {% endblock %}
